.chess-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
}

.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 2px;
  max-width: 90vw;
  max-height: 90vh;
  aspect-ratio: 1;
  margin: auto;
}

button {
  width: 1.3em;
  height: 1.3em;
  font-size: 3vw;
  text-align: center;
  background-color: white;
  border: 3px solid black;
  cursor: pointer;
}

button:nth-child(even) {
  background-color: black;
  color: white;
}

.selected {
  background-color: yellow;
}

@media (max-width: 768px) {
  button {
    font-size: 5vw;
  }
}
